name: ci # 
on:
  push:
    branches: # 
      - master
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
          
#      - run: ls
      - run: docker pull foliant/foliant #
      - run: docker-compose build #
      - run: docker-compose run --rm foliant make site
 #     - run: ls
      - run: git status
      - run: git add docs.mkdocs
      - run: git status
      - run: git config --global user.email "andrglad@gmail.com.com"
      - run: git config --global user.name "Andrey Gladilin"
      - run: git commit -m "Automatic deploy"
      - run: git subtree push --prefix docs.mkdocs origin gh-pages
      - run: git push
#      - run: git add docs.mkdocs && git commit -m "Initial dist subtree commit"    
